* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --maincolor: #FB2E86;
    --mainfont: "Lato", sans-serif;
    --secondfont: "Josefin Sans", sans-serif;
}

.container {
    max-width: 1300px;
    margin: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


body {
    margin: 0;
    padding-top: 120px;

}


.header {
    padding: 37px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 999;
}

.header nav ul {
    display: flex;
    gap: 36px;
    font-family: "Lato", sans-serif;
}

.header nav ul a {
    color: #0D0E43;
    transition: color 1s;
}

.header nav ul:hover .nav-home {
    color: black;
}

.header nav ul a:hover {
    color: var(--maincolor);
}

.header nav ul .nav-home {
    color: var(--maincolor);
}

.header nav ul i {
    font-size: smaller;
    color: var(--maincolor);
}

.header .search form {
    display: flex;
    border: 2px solid #E7E6EF;
}

.header .search form input {
    border: 0;
    padding: 0 30px;
}

.header .search form button {
    border: 0;
    padding: 9px 5px;
    background-color: var(--maincolor);
}

.footer {
    background-color: rgba(238, 239, 251, 1);
    margin-top: 20px;
    padding: 50px 0px;
}

.footer .row {
    align-items: flex-start;
}

.footer-left-side {
    padding: 30px 15px;
    width: 41%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;
}

.email form {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgba(231, 230, 239, 1);
}

.email input {
    border: 0;
    padding: 15px 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    flex-grow: 1;
}

.email button {
    border: 0;
    padding: 15px;
    background-color: var(--maincolor);
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    flex-grow: 1;
    cursor: pointer;
}

.footer-left-side .contact {
    color: #a6a6c5;
    font-style: normal;
}

.footer-right-side {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.footer-right-side a {
    color: rgba(138, 143, 185, 1);
}

.footer-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;
    width: 25%;
    min-width: 180px;
    padding-top: 25px;
}

.footer-item nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
}

@media screen and (max-width:1020px) {
    .footer-left-side {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .footer-right-side {
        width: 100%;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width:463px) {
    .email input {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .email button {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

@media screen and (max-width:325px) {
    .email form input {
        width: 70%;
    }
}


.featured-title {
    text-align: center;
    font-family: var(--secondfont);
    color: rgba(26, 11, 91, 1);
    padding-top: 100px;
    padding-bottom: 50px;
    font-weight: 600;
    font-size: 25px;
}

.featured .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}


.featured .products-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 248px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #bdbaba;
    position: relative;
}

.featured-products {
    background-color: rgba(246, 247, 251, 1);
    padding: 35px;
}

.featured-a {
    background-color: rgba(8, 209, 95, 1);
    color: white;
    padding: 6px 12px;
    font-family: var(--secondfont);
    position: absolute;
    left: 79px;
    top: 220px;
    font-size: 12px;
    border-radius: 3px;
}

.featured-icons {
    position: absolute;
    top: 15px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.featured-icons i {
    cursor: pointer;
}

.featured .products-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
    line-height: 25px;
    background-color: transparent;
    padding: 20px;
}

.featured .product-info h4 {
    color: var(--maincolor);
}

.featured .blue-card {
    background-color: rgba(47, 26, 196, 1);
    color: white;
    position: relative;
}


@media screen and (max-width:460px) {

    .featured-title {
        font-size: 20px;
    }

}


.subscribe {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe img {
    width: 100%;

}

.sub {
    position: absolute;
    font-family: var(--secondfont);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;


}

.sub h2 {

 text-align: center;
    color: rgba(21, 24, 117, 1);
    font-size: 35px;
    font-weight: 700;

}

.subscribe .shop-btn {
    background-color: var(--maincolor);
    border-radius: 2px;
    width: 185px;
    height: 60px;
    padding: 20px;
    text-align: center;
    color: white;
    font-family: var(--secondfont);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: width background-color;
    transition-duration: 0.50s;
}

.subscribe .shop-btn:hover {
    width: 125px;
    background-color: rgb(255, 0, 111);
}
